.index {
	overflow: hidden;
	width: 100%;
}
.recomment_turning{
	position: relative;
    height: 340px;
    overflow: hidden;       /*change:overflow: hidden;头部推荐列表滚动条*/
}
.recomment_turning .banner-slide{
	width: 100%;
	text-align: center;
	position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}
.top1{
	background: #060513;
}
.top2{
	background: #020202;
}
.top3{
	background: #b0def6;
}
.top4{
	background: #DCA606;
}
.front {
	position: relative;
}
.front .banner-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-dots span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #e3daef;
    transition: transform .2s;
    cursor: pointer;
}
.banner-dots span:hover {
    transform: scale(1.1);
}
.front .banner-anchor {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 80px;
    height: 100px;
    overflow: hidden;       /*change:overflow: hidden;*/
    text-indent: -90em;
    background-image: url('../imgs/banner_sprite.png');
    background-repeat: no-repeat;
    transition: transform .6s, opacity .6s;
}
.front .prev {
    left: 0;
    transform: translateX(-100%);
    background-position: 0 -41px;
}
.front .prev:hover {
    background-position: -81px -41px;
}
.front .next {
    right: 0;
    transform: translateX(100%);
    background-position: 0 -142px;
}
.front .next:hover {
    background-position: -81px -142px;
}